body {
   margin: 0;
   padding: 0;
   font-family: Helvetica, sans-serif !important; 
   font-size: 14px !important;
   font-weight: 300 !important;
}
button {
    font-size: 14px !important;
}
.btn-success {
    background-color: #5CB85F !important;
    border-color: #5CB85F !important;
    border-radius: 2px !important;
}
.content {
    margin: 0px auto;
    max-width: 1360px;
}
nav {
    flex-basis: 90%;
    text-align: right;
}
nav ul {
    padding: 0px;
    margin-bottom: 0px;
}
nav li {
    display: inline;
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
}
header {
    background-color: #F1F3FF;
}
.header-navbar {
    display: flex;
    padding: 25px 80px;
    background-color: transparent;
}
#logo {
    flex-basis: 10%;
}
#hero {
    display: flex;
    background-color: #F1F3FF;
    padding-left: 80px;
}
#hero img {
    flex-basis: 50%;
    max-width: 704px;
    height: min-content;
    width: min-content;
    min-width: 50px;
    min-height: 50px;
}
.hero-text {
    flex-basis: 50%;
    padding: 50px 10px 50px 0px;
}
.hero-text * {
    margin-bottom: 16px;
}
.hero-text h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}
.hero-text p {
    width: 70%;
}
#service {
    display: flex;
    margin: 100px 120px;
}
.service-img img {
    flex-basis: 40%;
}
.service-desc {
    flex-basis: 60%;
    padding-left: 80px;
    margin: 50px 50px 50px 0px;
}
.service-desc h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
}
.service-desc-list {
    margin-bottom: 10px;
}
#whyus {
    margin: 100px 80px;
}
#whyus h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
.whyus-group {
    display: flex;
}
.whyus-group .card {
    margin-right: 30px;
}
#testimonial {
    margin: 100px 0px;
}
#testimonial * {
    position: relative;
}
.title-testi {
    text-align: center;
}
.title-testi h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
.list-testi {
    display: flex;
    min-width: max-content;
    margin: auto;
    right: 10%;
}
.testi {
    background-color: #F1F3FF;
    max-width: 500px;
    display: flex;
    margin: 10px 20px;
    padding: 50px 30px;
    border-radius: 10px;
}
.testi .testi-img {
    margin: 30px 0px;
}
.testi .testi-desc {
    text-align: justify;
    margin: 0px 20px;
}
.testi-desc .testi-desc-profil {
    font-weight: bold;
}
.button-testi {
    display: flex;
    width: 50%;
    margin: auto;
}
.button-testi-left, .button-testi-right {
    padding: 10px;
}
.button-testi-left {
    flex-basis: 50%;
    text-align: right;
}
.button-testi-right {
    flex-basis: 50%;
}
#faq {
    display: flex;
    margin: 100px 80px;
}
.faq-text {
    flex-basis: 40%;
}
.faq-text h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
.faq-list {
    flex-basis: 60%;
}
.card-faq {
    display: flex;
    border: 1px solid #00000020;
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 20px;
}
.card-faq-text {
    flex-basis: 100%;
}
#cta-banner {
    padding: 80px 100px;
    margin: 80px 130px;
    background-color: #0D28A6;
    color: #fff;
    border-radius: 10px;
    text-align: center;
}
#cta-banner h3 {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
}
#cta-banner p {
    width: 50%;
    margin: 0px auto;
    margin-bottom: 50px;
}

footer {
    display: flex;
    flex-direction: row;
    padding: 50px 80px;
}
footer * {
    flex-basis: 25%;
    display: block;
    margin-right: 10px;
}
footer #address * {
    margin-bottom: 16px;
}
footer #nav * {
    margin-bottom: 10px;
    font-weight: 400;
}
footer #sosmed .sosmed-group {
    display: flex;
}
footer #sosmed .sosmed-group * {
    flex-basis: auto;
}
footer #nav li a{
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 1000px) {
    #hero img {
        margin-top: 100px;
    }
    #service {
        display: block;
    }
    .service-img {
        text-align: center;
    }
    .service-img img{
        max-width: 250px;
        text-align: center;
    }
    .whyus-group {
        display: block;
    }
    .whyus-group .card {
        min-width: 100%;
        margin-bottom: 10px;
    }
    #testimonial {
        margin: 100px 50px;
    }
    #testimonial * {
        position: static;
    }
    .list-testi {
        display: block;
        min-width: fit-content;
        width: 100%;
    }
    .list-testi .testi {
        min-width: 100%;
        max-width: none;
        margin: 10px 0px;
    }
    .button-testi {
        display: none;
    }
    #cta-banner p {
        width: 100%;
    }
    #faq {
        display: block;
    }
    footer {
        padding: 50px 80px;
    }
}